.container {
    text-align: center;
}
.title-form h1 {
    padding-top: 25px;
}

.form-field {
    width: 255px;
}

.frame-login-title{
    text-align: initial;
    padding-left: 11px;
}

.login-form {
    padding-top: 5px;
}

.form-group {
    padding-top: 10px;
}

.btn-cadastrar {
    padding-top: 20px;
}

.redirect-registro{
    padding-top: 45px;
}

.nav-item a {
    color: black;
    text-decoration: none;
}

.button {
    text-decoration: none;
    border: 1px solid;
    font-weight: bold;
    display: inline-block;
    padding: .75rem 1.25rem;
    border-radius: 10rem;
    background-color: white;
    color: #000000;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .15rem;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;        
}

a:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: darken(color, 15%);
    transition: all .3s;
    border-radius: 10rem;
    z-index: -1;
}
a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: color;
    border-radius: 10rem;
    z-index: -2;
}
a:hover {
    color: rgb(218, 146, 11) !important;
}